/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Estilo do cabeçalho */

header {
  background: #4caf50;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.logoescola .logomr {
  float: left;
  width: 15%;
  display: flex;
  height: 120px;
  align-items: center;
  padding: 0px 10px;
}

header .nomedaescola {
  font-size: 35px;
  font-stretch: expanded;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
    color: rgba(223, 245, 29, 0.904);
    text-decoration: none;
    font-weight: bold;
  }

nav ul {
  float: center;
  width: 87%;
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: rgba(223, 245, 29, 0.904);
  text-decoration: none;
  font-weight: bold;
}

.insta {
  float: right;
  width: 15%;
  display: flex;
  height: 120px;
  align-items: center;
  padding: 0px 10px;
}
/* Estilo das seções */

section {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
  color: #4caf50;
}

li {
  list-style: none;
  margin-left: 15px;
}
/* Estilo do rodapé */

footer {
  text-align: center;
  padding: 15px 0;
  background: #4caf50;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}



